@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

:root{
  --primary-color: #383838;
  --secondary-color: #FC5C62;
  --white-color: #E5E5E5;
  --received-color: #373E4E ;
  --sent-color: #272A35 ;
  --light-grey: #7f7f7f;
}



body, html {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

